<!doctype html>
<html lang="pt-BR">
<head>

    <title>Node template</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./views/css/main.css">

</head>
<body>

    <!-- Início do conteúdo -->
    <div class="container-fluid">
        <div id="grafo"></div>
    </div>
    <!-- Fim do conteúdo -->

    <script src="../controllers/controller.js" type="module"></script>

</body>
</html>